{#main/templates/index.html #}
{#{% load render_table from django_tables2 %}#}
{#<!doctype html>#}
{#<html>#}
{#    <head>#}
{#        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />#}
{#    </head>#}
{#    <body>#}
{#        {% render_table number %}#}
{#    </body>#}
{#</html>#}


{% load render_table from django_tables2 %}
<html>
    <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    <style>
    table{
        font-size: 50px;
        width:300px;

    }
    #color0{
    background:#f00
    }
    #color1{
    background:#0f0
    }
    #color2{
    background:#00f
    }
    #color3{
    background:#f0f
    }
    #color4{
    background:#500
    }
    #color5{
    background:#050
    }
    #color6{
    background:#ffe761;
    }
    #color7{
    background:#ffefef;
    }
    #color8{
    background:#444
    }
    #color9{
    background:#0ff
    }
    </style>
    </head>
    <table><tr>
    {% for field in number %}
       <td  id = 'color{{ field }}' >
           {{ field }}
       </td>
       {% if forloop.last %}
         </tr>
       {% else %}
         {% if forloop.counter|divisibleby:"3" %}
           </tr><tr>
         {% endif %}
       {% endif %}
    {% endfor %}
    </table>
    <p>
       <a href="/pocket/cycle"><input type="button" value="Cycle"></a>
    </p>

        {% render_table number %}

</html>